		<div class="createTop container_12">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
			<div id="nav" class="grid_12">
				<p><span class="dim">Step 1: CHOOSE A STEREOGRAPH &gt; Step 2: CONVERT TO GIF/ANAGLYPH &gt;</span> Step 3: SEND</p>
			</div>
		</div>
		<div class="detail grid_5">
			<%= image_tag(@animation.aws_url) %>
		</div>
		<div class="meta grid_5">
			<h2>CONGRATULATIONS!</h2>

			<p>Your <%= @animation.mode == "GIF" ? "animated GIF" : "anaglyph" %> has been created!</p>
			
			<div class="create"><%= link_to "CREATE ANOTHER ONE!", "/choose", :class => 'genericButtonLink' %></div>

<%= render "shared/share", :locals => {:animation => @animation} %>
			
		</div>
		<div class="clear"></div>
