	<div id="nocanvas">
		<div class="createTop container_12">
			<h1 class="create grid_12"><span class="visuallyhidden">CREATE</span></h1>
		</div>
		<div>
			<div id="fallback" class="container_12 centered">
				<div class="message">
					<h2>Your browser not supported :(</h2>
					<p>The Stereogranimator 1900XD requires a more recent browser to work properly.</p>
					<p>Please consider upgrading it and experiencing a better web.</p>
				</div>
				<div class="buttons">
					<%= link_to "Get Mozilla Firefox", "http://www.mozilla.com", :class => "genericButtonLink" %>
					<%= link_to "Get Google Chrome", "http://www.google.com/chrome", :class => "genericButtonLink" %>
					<%= link_to "Get Apple Safari", "http://www.apple.com/safari/download", :class => "genericButtonLink" %>
				</div>
			</div>
<%= render :partial => "shared/instructions" %>
		</div>
	</div>
