			<div class="grid_3 alpha">
				<ul class="sideNav">
<%= link_to_unless_current "<li>Introductory text by Joshua Heineman</li>".html_safe, { :action => "what" } %>
<%= link_to_unless_current "<li>What is a stereogram?</li>".html_safe, { :action => "stereogram" } %>
<%= link_to_unless_current "<li>What is an anaglyph?</li>".html_safe, { :action => "anaglyph" } %>
<%= link_to_unless_current "<li>What is an animated GIF?</li>".html_safe, { :action => "gif" } %>
				</ul>
			</div>
