				<div class="thumb">
<% if current_user %>
					<%= link_to 'delete', "/animations/#{image.id}/kill", :confirm => 'Are you sure?', :method => :destroy, :class => "kill" %>
<% end %>
					<div class="pad">
<!--[if (!IE)|(lte IE 8)]> -->
						<%= link_to "VIEW FULL SIZE", "/view/#{image.id}", {:class=>'over', :title=>image.metadata} %>
<!-- <![endif]-->
						<%= link_to image_tag(image.thumb), "/view/#{image.id}", {:class=>'base', :title=>image.metadata} %>
					</div>
				</div>
