				<div class="thumb">
					<div class="pad">
<!--[if (!IE)|(IE 9)]> -->
						<%= link_to "VIEW FULL SIZE", "/view/#{image.id}", {:class=>'over'} %>
<!-- <![endif]-->
						<%= link_to image_tag(image.thumb), "/view/#{image.id}", {:class=>'base'} %>
					</div>
				</div>
