		<div class="container_12">
			<h1 class="gallery"><span class="visuallyhidden">GALLERY</span></h1>
			<div class="clear"></div>
<%= render "shared/detail", :locals => {:animation => @animation} %>
			<div class="meta grid_5">
				
<%= render "shared/share", :locals => {:animation => @animation, :type => "viewed"} %>

				<div class="create"><%= link_to "CREATE YOUR OWN!", "/choose", :class => 'genericButtonLink' %></div>

			</div>
			<div class="clear"></div>
		</div>
