<% content_for :img_metadata do %>
<meta property="og:image" content="#{request.protocol}#{request.host_with_port}#{@animation.full_count}" />
<link rel="image_src" href="#{request.protocol}#{request.host_with_port}#{@animation.full_count}" />
<% end %>
<% 
if @animation.mode == "GIF"
	@strtype = "Animated GIF"
else
	@strtype = "Anaglyph"
end
%>
<% content_for :title do %><%= "#{@strtype} : " %>Gallery : <% end %>
		<div class="container_12">
			<h1 class="gallery"><span class="visuallyhidden">GALLERY</span></h1>
			<div class="clear"></div>
<%= render "shared/detail", :locals => {:animation => @animation} %>
			<div class="meta grid_5">

<% @sharetype = "viewed" %>
<%= render "shared/share", :locals => {:animation => @animation, :sharetype => @sharetype} %>

				<div class="create"><%= link_to "CREATE YOUR OWN!", "/choose", :class => 'genericButtonLink' %></div>

			</div>
			<div class="clear"></div>
		</div>
