	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>The Collection</h2>
<p>All stereographs used in the Stereogranimator can be found in the <a
href="http://digitalgallery.nypl.org">NYPL Digital Gallery</a>, an
open-access repository of over 700,000 digital images. The vast
majority originate in the <a
href="http://digitalgallery.nypl.org/nypldigital/explore/dgexplore.cfm?topic=all&col_id=361">Robert
N. Dennis Collection of Stereoscopic Views</a>, which is physically
housed in the <a
href="http://www.nypl.org/locations/schwarzman/prints-and-photographs-study-room/photography-collection">Photography
Collection</a> in the Stephen A. Schwarzman Building on 42nd and 5th
Avenue, New York City.</p>

<p>A smaller <a href="http://digitalgallery.nypl.org/nypldigital/dgtitle_tree.cfm?title_id=613541">subset</a>
of material originates from the <a
href="http://www.nypl.org/locations/schomburg">Schomburg Center for
Research in Black Culture</a> in Harlem, one of NYPL's four research
hubs.</p>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
