<% content_for :title do %>The collection : About : <% end %>
	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>The collections</h2>
<p><em>Do you have a sizeable, digitized collection of stereographs that you'd like to include in the site? Good news: we've developed a simple Flickr tie-in that makes this easy. Contact us at <a href="mailto:stereo@nypl.org">stereo@nypl.org</a> to learn more.</em></p>
				<h3>New York Public Library</h3>
<p>All images used in the Stereogranimator can be found in the <a
href="http://digitalgallery.nypl.org">NYPL Digital Gallery</a>, an
open-access repository of over 800,000 digital images. The vast
majority (over 39,000 items) originate in the <a
href="http://digitalgallery.nypl.org/nypldigital/explore/dgexplore.cfm?topic=all&col_id=361">Robert
N. Dennis Collection of Stereoscopic Views</a>, which is physically
housed in the <a
href="http://www.nypl.org/locations/schwarzman/prints-and-photographs-study-room/photography-collection">Photography
Collection</a> in the Stephen A. Schwarzman Building on 42nd and 5th
Avenue, New York City.</p>

<p>A smaller <a href="http://digitalgallery.nypl.org/nypldigital/dgtitle_tree.cfm?title_id=613541">subset</a>
of material originates from the <a
href="http://www.nypl.org/locations/schomburg">Schomburg Center for
Research in Black Culture</a> in Harlem, one of NYPL's four research
hubs.</p>

<h3>Boston Public Library</h3>

<p>The <a href="http://www.bpl.org/research/print/">Boston Public Library Print Department</a> holds nearly 2,500 stereographs, the majority of them are regional views of America, with emphasis on Boston and New England. The collection, comprised of several donations, also includes international views, comic series, and stereographs for testing stereo depth perception.</p>  

<p>The nearly 650 Boston stereographs used in the Stereogranimator can be found in the <a href="http://www.flickr.com/photos/boston_public_library/collections/">Boston Public Library's Flickr account</a>. These <a href="http://www.flickr.com/photos/boston_public_library/sets/72157604192771132/">stereographs </a> record the built environment and events from the 1850s to the first decades of the 20th century. Among the topographic and scenic views are panoramas of the city, the Great Fire of Boston (1872), the American Peace Jubilee and Music Festival (1869), and people participating in events of the day.</p> 

<p>First produced as entertainment devices, the stereographs are reference tools for depicting buildings no longer extant; changes to Boston Harbor; modes of costume and entertainment of the era; and the importance of the Boston Common and Public Garden in enriching the lives of its citizens.</p>

<h3>Disclaimer</h3>

<p>The New York Public Library offers access to a broad range of information and
materials, including certain materials that may contain offensive
language or negative stereotypes. You should view such materials in
the historical context in which they were created.  All historical
media are presented as specific, original artifacts, without further
enhancement to their appearance or quality, as a record of the era in
which they were produced.  Opinions expressed on the NYPL Websites are
not necessarily those of the Library or of its Trustees and staff.</p>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
