<% content_for :title do %>The collection : About : <% end %>
	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>The collections</h2>
<p><em>Do you have a sizeable, digitized collection of stereographs that you'd like to include in the site? Good news: we've developed a simple Flickr tie-in that makes this easy. Contact us at <a href="mailto:stereo@nypl.org">stereo@nypl.org</a> to learn more.</em></p>
				<h3>New York Public Library</h3>
<p>All images used in the Stereogranimator can be found in the <a href="http://digitalcollections.nypl.org/">NYPL's Digital Collections platform</a>, a living database of hundreds of thousands of digitized items from the Library's collections. The vast
majority (over 41,000 items) originate in the <a href="http://digitalcollections.nypl.org/collections/robert-n-dennis-collection-of-stereoscopic-views#/?tab=about">Robert
N. Dennis Collection of Stereoscopic Views</a>, which is physically
housed in the <a href="http://www.nypl.org/locations/divisions/wallach-division/photography-collection">Photography
Collection</a> in the Stephen A. Schwarzman Building on 42nd and 5th
Avenue, New York City.</p>

<p>A smaller <a href="http://digitalcollections.nypl.org/collections/stereograph-collection#/?tab=navigation">subset</a>
of material originates from the <a href="http://www.nypl.org/locations/schomburg">Schomburg Center for
Research in Black Culture</a> in Harlem, one of NYPL's four research
hubs.</p>

<h3>Boston Public Library</h3>

<p>The <a href="http://www.bpl.org/research/print/">Boston Public Library Print Department</a> holds nearly 2,500 stereographs, the majority of them are regional views of America, with emphasis on Boston and New England. The collection, comprised of several donations, also includes international views, comic series, and stereographs for testing stereo depth perception.</p>

<p>The nearly 650 Boston stereographs used in the Stereogranimator can be found in the <a href="http://www.flickr.com/photos/boston_public_library/collections/">Boston Public Library's Flickr account</a>. These <a href="http://www.flickr.com/photos/boston_public_library/sets/72157604192771132/">stereographs </a> record the built environment and events from the 1850s to the first decades of the 20th century. Among the topographic and scenic views are panoramas of the city, the Great Fire of Boston (1872), the American Peace Jubilee and Music Festival (1869), and people participating in events of the day.</p>

<p>First produced as entertainment devices, the stereographs are reference tools for depicting buildings no longer extant; changes to Boston Harbor; modes of costume and entertainment of the era; and the importance of the Boston Common and Public Garden in enriching the lives of its citizens.</p>

<h3>U.S. Geological Survey</h3>

<p>The growing number of stereographs in this U.S. Geological Survey collection come from over 700 photos in the <a href="http://library.usgs.gov/photo/">USGS Photographic Library</a>, with a majority sourced from the <a href="http://pubs.usgs.gov/circ/c1050/surveys.htm">Four Great Surveys of the West</a> in the 1860s and '70s. Congress established the USGS in 1879, after abolishing the three remaining federal surveys, to continue their work in a more coordinated and efficient way. Iconic scenes from this period of U.S. expansion and exploration of the West include views of Yellowstone National Park (first national park, 1872), the Rio Grande River, travels through Colorado and Wyoming, and even flippin' flapjacks in camp.</p>

<h3>New-York Historical Society</h3>

<p><a href="https://www.flickr.com/photos/n-yhs/albums/72157656753591086">The collection of 731 Civil War stereographs</a> from the <a href="http://www.nyhistory.org/">New-York Historical Society's</a> Department of Prints, Photographs, and Architectural Collections covers the entire period of the Civil War, from the first Battle of Bull Run through the surrender at Appomattox, and the triumphal parade of Union forces in Washington D.C. The images include compelling depictions of death on the battlefield and the destruction of cities, railroads and bridges. There are individual and group portraits of participants, along with images of soldiers relaxing in camps, drilling in the field, and preparing for attack in trenches and other fortifications. The collection also includes images of African Americans fleeing slavery by crossing the Union lines, as well as African Americans on southern plantations and serving in the Army and the Navy. Among the photographers represented in the collection are Mathew Brady and his former employees Alexander Gardner, James Gibson, and Timothy O'Sullivan, as well as George N. Barnard, who took photographs in Virginia and the Carolinas, Sam A. Cooley, who was the 'Official Photographer' for the 10th Army Corps, and local photographers from Richmond, Gettysburg, and other locations.</p>

<h3>U.S. National Archives</h3>
<p><a href="http://www.archives.gov/">The U.S. National Archives</a> was established in 1934 by President Franklin Roosevelt, but its major holdings date back to 1775. The National Archives keeps only those Federal records that are judged to have continuing value -- about 2 to 5 percent of those generated in any given year. By now, they add up to a formidable number, diverse in form as well as in content. In addition to the photographs and graphic images described above, there are approximately 9 billion pages of textual records; 7.2 million maps, charts, and architectural drawings; billions of machine-readable data sets; and more than 365,000 reels of film and 110,000 videotapes. All of these materials are preserved because they are important to the workings of Government, have long-term research worth, or provide information of value to citizens.</p>

<h3>DC Public Library</h3>
<p>The DC Public Library <a href="http://digdc.dclibrary.org/cdm/landingpage/collection/p16808coll21">Stereoview Photograph Collection</a> includes stereoscopic photographs of Washington D.C. scenes created by various photography studios and photographers from approximately 1860 to 1910Images in the collection show district streets, architecture, landmarks, monuments, art, and people. Particularly interesting images include President Grover Cleveland at his White House desk, women volunteers of the World War I Food Administration, and a proposed monument to President Abraham Lincoln at the U.S. Capitol.</p>

<p>The entire DC Public Library Stereoview Photograph Collection has been digitized and published in its entirety. All images from the Stereoview Photograph Collection are in the public domain.  Learn more about the collection in its <a href="http://dclibrary.org/node/45171">finding aid</a> on the DCPL Special Collections webpage.</p>


<h3>Lehigh University</h3>
<p><a href="http://library.lehigh.edu/collections/special_collections">Lehigh University Libraries Special Collections</a> collects, preserves, and provides access to historical collections that encompass rare books, manuscripts, and the Lehigh University archives. Special Collections holds more than 120 historical stereographs of the Lehigh campus, North and South Bethlehem, and famous buildings and structures across the United States and Canada. This collection prominently feature bridges and railroads, including many while under construction. All images used in the Stereogranimator can be found in <a href="http://cdm.lib.lehigh.edu/cdm/search/collection/stereographs">Lehigh's Digital Library</a>, which features additional information about the stereographs including subjects and geographic locations.</p>

<h3>Disclaimer</h3>

<p>The New York Public Library offers access to a broad range of information and
materials, including certain materials that may contain offensive
language or negative stereotypes. You should view such materials in
the historical context in which they were created.  All historical
media are presented as specific, original artifacts, without further
enhancement to their appearance or quality, as a record of the era in
which they were produced.  Opinions expressed on the NYPL Websites are
not necessarily those of the Library or of its Trustees and staff.</p>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
