<% content_for :title do %>Credits : About : <% end %>
	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>Credits</h2>
<p>The Stereogranimator was conceived and built by <%= link_to "NYPL Labs", "http://www.nypl.org/collections/labs" %> (@nypl_labs):</p>
<ul>
	<li>Ben Vershbow - Project Director (@subsublibrary)</li>
	<li>Mauricio Giraldo - Lead Designer/Developer (@mgiraldo)</li>
	<li>David Riordan - Product Manager (@riordan)</li>
	<li>Zeeshan Lakhani - Developer (@zeeshanlakhani)</li>
</ul>
<h3>Project Inspiration:</h3>
<ul>
	<li><a href="http://cursivebuildings.com">Joshua Heineman</a></li>
</ul>
<h3>Project Advisors:</h3>
<ul>
	<li>Stephen Pinson - Robert B. Menschel Curator of Photography</li>
	<li>David Lowe - Specialist, Photography Collection</li>
	<li>Michael Lascarides - Senior Manager for Web Initiatives</li>
	<li>Greg Cram - Rights Clearance Analyst</li>
	<li>Matthew Lansburg - Associate General Counsel</li>
</ul>
<h3>Technology Support:</h3>
<ul>
	<li>Jane Aboyoun - Vice President, Chief Technology Officer</li>
	<li>Michelle Gordon - Director, Application Development</li>
	<li>Jay Haque - Director, Systems Architecture & Operations</li>
	<li>Brett Richter - Systems Administrator</li>
	<li>Joe Dalton - Applications Developer</li>
</ul>
<h3>Special Thanks:</h3>
<ul>
	<li>Ann Thornton - Andrew W. Mellon Director of The New York Public Libraries</li>
	<li>Jeffrey Roth - Vice President for Strategic Planning</li>
	<li>Micah May - Director of Strategy</li>
	<li>Michele Byrd - Metrics Analyst/Team Coordinator (Strategic Planning)</li>
	<li>Angela Montefinise - Director of Public Relations & Marketing</li>
	<li>Elaine Charnov - Director for Education, Programming and Exhibitions</li>
	<li>Anne Coriston - Vice President for Public Service</li>
	<li>Kevin B. Winkler - Deputy Director for Library Sites & Services</li>
</ul>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
