	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>Credits</h2>
<p>The Stereogranimator was conceived and built by NYPL Labs (@nypl_labs):</p>
<ul>
<li>Ben Vershbow - Project Director (@subsublibrary)</li>
<li>Mauricio Giraldo - Lead Designer/Developer (@mgiraldo)</li>
<li>David Riordan - Product Manager (@riordan)</li>
<li>Zeeshan Lakhani - Developer (@zeeshanlakhani)</li>
</ul>

<h3>Project advisors:</h3>
<ul>
<li>Stephen Pinson - Robert B. Menschel Curator of Photography, NYPL</li>
<li>David Lowe - Specialist, Photography Collection, NYPL</li>
</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
