<% content_for :title do %>Flickr : About : <% end %>
<div class="container_12">
<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
<div class="sideNav grid_9">
<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
</div>
<div class="grid_6 omega">
<h2>Flickr</h2>
<p>Are you a stereograph enthusiast who's got hundreds or thousands of vintage stereographs just waiting to be stereogranimated (yes, we're talking to you, <a href="http://www.brianmay.com/brian/magsandpress/SWvol33no5_08/LondonStereoReborn.html">Brian May</a>)? Do you have a 3D camera you're itching to try out? Stereogranimator is now for you, thanks to the magic of <a href="https://www.flickr.com">Flickr</a>!</p>

<p> Here's what you have to do:</p>
<ol>
<li>Upload your images to <a href="https://www.flickr.com">Flickr</a> (Stereogranimator will only work with your own photos). You might want to tag them with something memorable.</li>
<li><a href="/getflickr">Allow Stereogranimator to connect with Flickr</a>.</li>
<li>Search for your stereographs in Stereogranimator.</li>
<li>Stereogranimate away on your own creations!</li>
</ol>

<p>Check out other <a href="/gallery?xid=-1">community stereogranimations</a>. Oh and have fun!

</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>