<% content_for :title do %>Flickr : About : <% end %>
	<div class="container_12">
		<h1 class="about"><span class="visuallyhidden">ABOUT THIS PROJECT</span></h1>
		<div class="sideNav grid_9">
			<div class="grid_3 alpha">
<%= render :partial => "shared/sidenav" %>
			</div>
			<div class="grid_6 omega">
				<h2>Flickr</h2>
<p>XXX XXX XX X X XXXX X X X XX Xxx</p>
<ul>
	<li>one</li>
	<li>two</li>
	<li>three</li>
</ul>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
