	<div class="container_12">
		<h1 class="welcome"><span class="visuallyhidden">WELCOME</span></h1>
		<div class="grid_9">
<%= render :partial => "shared/sidenav" %>
			<div class="grid_6 omega">
				<h2>What is an animated GIF?</h2>
<p>Text here.</p>
			</div>
			<div class="clear"></div>
			<div class="grid_3 alpha">
<%= image_tag "heineman.jpg" %>
<p>— Some image here</p>
			</div>
			<div class="grid_6 omega">
<p>More text here.</p>
			</div>

		</div>
		<div class="clear"></div>
	</div>
