	<div class="container_12">
		<h1 class="welcome"><span class="visuallyhidden">WELCOME</span></h1>
		<div class="grid_9">
<%= render :partial => "shared/sidenav" %>
			<div class="grid_6 omega">
				<h2>I'm told this remarkable application is</h2>
<p>directly inspired by <%= link_to "Reaching for the Out of Reach", "http://lala.cursivebuildings.com/tagged/reaching" %>, my project which ultimately amounts to a 21st century raid of the New York Public Library's archive of 19th century treasure. That is to say, my project was inspired by the library's collection first. This kind of mutually beneficial relationship between archivist & user would have been unthinkable even 10 years ago. So how did we get here?</p>
<p>If you look through enough old photographs, you might notice that many from before 1900 come in seemingly-identical pairs. What you may not realize is that these pairs were meant to be viewed together, each side lending the other a sense of depth that a photograph alone cannot possess. The entertainment-seeking public of the 19th century immersed themselves in these photographs in a manner akin to how we now view movies, videogames or cellphone screens. Do you remember the magic of looking into a ViewMaster as a child & being suddenly somewhere else? You can think of NYPL's stereograph archive as a gold mine of some 40,000 ViewMaster slides, nearly all more than 100 years old - not only somewhere else but some other time!</p>
			</div>
			<div class="clear"></div>
			<div class="grid_3 alpha">
<%= image_tag "heineman.jpg" %>
<p>— Joshua Heineman, San Francisco, 2012</p>
			</div>
			<div class="grid_6 omega">
<p>A small number of public stereo machines survive in antique arcades such as the Musee Mechanique in San Francisco. For most, though, the experience of these photographs as originally intended had been lost to history. The unending computer screen of the Internet itself, while granting unprecedented access, seemed to only further distance us from the true depth of the stereograph. I must have nearly gone blind viewing the library's collection when I first found it. My father's job involved aerial stereo photographs, so I knew what they were & how to induce the depth dimension even without special glasses. The viewing process involved loading a fullscreen paired image, setting the laptop on the edge of the bed & then forcing my poor eyes to focus beyond the screen until the resulting doublevision lined up & the middle came alive. I spent hours doing this every week. Even with the cumbersome viewing process, the effect was startling. The photographs seemed to regain a sense of the moment that we typically don't associate with history. The people & places pictured were still lost, but somehow they felt more real & more alive in their milieu.</p>
<p>Like is often the case, it was dumb luck that changed my private interest into a years-long art project that captivated the Internet (as much as such a thing is possible) & made this NYPL application possible. One evening I was downloading digital snapshots to my laptop when I got a fleeting sense of 3D as the preview screen flicked between two particular shots. I located the near-identical photos & flipped back & forth between them continually. The parallax effect of minor changes between the two created a sustained sense of dimension that approximated the effect of stereo viewing. When I realized how the effect was working, I immediately set about discovering if I could capture the same illusory depth by layering both sides of an old stereograph in Photoshop & displaying the result as an animated gif. The effect was more jarring than a stereoscope but no less magic. I then quietly began collecting these re-enlivened stereographs from the NYPL archives on my website under the project title Reaching for the Out of Reach. Within a month, there were 70,000 viewers a day pouring over the project. What can I say? This is my Frankenstein's monster.</p>
<p>Now, thanks to the NYPL Labs team, this is your monster, too. Enjoy.</p>
			</div>

		</div>
		<div class="clear"></div>
	</div>
