// fonts

// sizes
$fullwidth: 1020px;

// colors
$maincolor: #fff;
$backcolor: #000;
$linkcolor: #f00;

// borders
$basicborder: solid 1px $maincolor;

// sprite url
$sprites: asset-path('sprites.png', image);