// fonts
$nyplfont: "Kievit", "Myriad Pro", "Lucida Grande", "Calibri", verdana, arial, helvetica, sans-serif;
$bodyfont: share-regular, "Arial Narrow", sans-serif;
$prefont: share-regular, courier, monospace;
$fontsizepx: 14px;
$baselineheightem: 1.8em;
$lineheightem: 1.4em;

// sizes
$fullwidth: 960px;
$canvaswidth: 800px;
$stereoheight: 540px;
$previewwidth: 399px;
$previewheight: $stereoheight;

// colors
$maincolor: #fff;
$backcolor: #000;
$linkcolor: #f00;
$nyplred: #D62828;
$nyplgray: #62656C;
$footcolor: #222;
$emgray: #999;
$choosebackground: rgba(0, 0, 0, 0.5);

// borders
$basicborder: solid 1px $maincolor;

// sprite url
$bodyimage: asset-url('bodybackground.png', image);
$backimage: asset-url('background.png', image);
$sprites: asset-url('sprites.png', image);