@import "base";
@import "mixins";

body {
  min-width: inherit;
  background-image: none;
}

#footer {
  display: none;
}

#mainContent .publiceye {
  &#stereoList {
    width: 680px;
    margin: 0 auto;
  }

  .stereograph {
    width: 300px;
    height: 220px;
    float: left;
    margin: 0 20px;
  }

  #nav p {
    font-size: 18px;
    margin: 15px 0 15px 80px;
  }

  #stereogranimator {
    width: $canvaswidth;
  }

  .instructions {
    top: 410px;
  }

  .showInstructions {
    top: 400px;
  }

  .canvasHolder {
    // float: none;
  }

  .sideshow {
    // float: none;
    border: none;
    width: 100%;
    height: inherit;
  }

  #toggler {
    top: -51px;
    left: 370px;
    height: 50px;

    &.GIFactive {
      background: $sprites -420px -406px no-repeat;
      background-size: 250%;
    }

    &.anaglyphActive {
      background: $sprites -6px -406px no-repeat;
      background-size: 250%;
    }

    #toggleLinks, #GIFExtraLinks a {
      font-size: 15px;

      #toggleGIF, #toggleAna {
        height: 20px;
        margin-top: 5px;
      }
    }

    #GIFExtraLinks div {
      padding-left: 40px;
    }
  }

  .nextStep {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 5px;
    width: 130px;
    height: 80px;
    overflow: hidden;
  }

  #btnNext {
    display: block;
    position: absolute;
    width: 90px;
    height: 110px;
    bottom: -60px;
    border-radius: 100px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
    @include transform(rotateZ(0deg));
  }

  #preview {
    width: inherit;
    height: inherit;
  }

  #previewContainer {
    height: 400px;
    overflow: hidden;
    border-bottom: 2px solid white;
  }

  #previewAnaglyph, #previewGIF {
    display: none;
  }

  &.detail {
    h2, p {
      text-align: center;
    }

    .grid_5 {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .create {
      width: 200px;
      margin: 0 auto;
      text-align: center;
    }
  }
}