@import "base";
@import "mixins";

$bigfont: 30px;
$toggleheight: 60px;
$togglemargin: 10px;

body {
  min-width: inherit;
  background-image: none;
  font-size: $bigfont;
}

#footer {
  display: none;
}

#mainContent .publiceye {
  &#stereoList {
    width: 680px;
    margin: 0 auto;
  }

  &.metadata, .stats {
    font-size: $bigfont*.4;
  }

  .stereograph {
    width: 300px;
    height: 220px;
    float: left;
    margin: 0 20px;
  }

  .genericButtonLink {
    padding: $bigfont*.5 $bigfont;
  }

  #nav {
    line-height: 1em;
  }

  #nav p {
    font-family: $bodyfont;
    font-size: $bigfont*.5;
    margin: 5px 0 0 5px;
  }

  #search .query {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    width: 260px;
  }

  #search .submit {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    -webkit-appearance: none;
    border-radius: 0;
  }

  #stereogranimator {
    width: $canvaswidth;
  }

  .instructions {
    top: 410px;
  }

  .showInstructions {
    top: 400px;
  }

  .canvasHolder {
    // float: none;
  }

  .sideshow {
    // float: none;
    border: none;
    width: 100%;
    height: inherit;
  }

  #toggler {
    top: auto;
    bottom: 0;
    left: 200px;
    background-image: none;
    background-color: #222;
    height: $toggleheight;

    &.GIFActive {
      // background-image: none;
      background-color: white;
      #toggleLinks .toggleAna {
        background-color: #222;
      }
    }

    &.anaglyphActive {
      // background-image: none;
      #toggleLinks .toggleAna {
        background-color: white;
      }
    }

    #toggleLinks {
      @include clearfix;
      .dim {
        display: block;
        height: $toggleheight*.5;
        line-height: normal;
      }
    }

    #toggleLinks, #GIFExtraLinks a {
      font-size: 15px;

      #toggleGIF, #toggleAna {
        height: $toggleheight*.5-$togglemargin;
        margin-top: $togglemargin;
        line-height: normal;
      }

      .toggleGIF, .toggleAna {
        height: auto;
        margin: 0;
      }
    }

    #GIFExtraLinks {
      height: $toggleheight*.5;
      margin: 0;
      position: absolute;
      right: 30px;
      bottom: $toggleheight*.2;
    }

    #GIFExtraLinks div {
      padding-left: 40px;
      padding: 0;
      height: $toggleheight*.5;
      line-height: normal;
    }
  }

  .nextStep {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 5px;
    width: 130px;
    height: 80px;
    overflow: hidden;
  }

  #btnNext {
    display: block;
    position: absolute;
    width: 90px;
    height: 110px;
    bottom: -60px;
    border-radius: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0;
    line-height: 1em;
    padding-right: 10px;
    font-size: 24px;
    @include transform(rotateZ(0deg));
  }

  .generator {
    padding: $bigfont*.5 $bigfont;
  }

  #preview {
    width: inherit;
    height: inherit;
  }

  #previewContainer {
    height: 400px;
    overflow: hidden;
    border-bottom: 2px solid white;
  }

  #previewAnaglyph, #previewGIF {
    display: none;
  }

  &.detail {
    h2, p {
      text-align: center;
    }

    .grid_5 {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .create {
      width: auto;
      margin: 0 auto;
      text-align: center;
    }
  }
}