@import "base";
@import "mixins";

$bigfont: 30px;
$toggleheight: 60px;
$togglemargin: 10px;

body {
  min-width: inherit;
  background-image: none;
  font-size: $bigfont;
}

#footer {
  display: none;
}

.shared_publiceye {
  font-size: $bigfont;
  line-height: 1.4em;
  margin: $bigfont auto;
}

.share_publiceye {
  font-size: $bigfont*.5;
  line-height: normal;
  margin: 10px auto;

  h2 {
    font-size: $bigfont*.7;
    margin-bottom: .6em;
  }

  p {
    width: 90%;
    margin: 0 auto;

    span {
      color: $linkcolor;
    }
  }

  .column {
    width: 45%;
    float: left;
    margin-left: 2%;
  }

  .tweet, .email {
    padding: 10px 0 40px;
  }

  .query {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    width: 140px;
    margin-right: 10px;
  }

  .submit {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
  }

}

#mainContent .publiceye {
  &#stereoList {
    width: 680px;
    margin: 0 auto;
  }

  &.metadata, .stats {
    font-size: $bigfont*.5;
    line-height: normal;
  }

  .stereograph {
    width: 300px;
    height: 220px;
    float: left;
    margin: 0 20px;
  }

  .genericButtonLink {
    padding: $bigfont*.5 $bigfont;
  }

  #nav {
    line-height: 1em;
    padding-top: 1px;
  }

  #nav p {
    font-family: $bodyfont;
    font-size: $bigfont*.5;
    margin: 5px 0 0 5px;
  }

  #search .query {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    width: 260px;
  }

  #search .submit {
    font-family: $bodyfont;
    font-size: $bigfont*.75;
    padding: $bigfont*.5 $bigfont;
    -webkit-appearance: none;
    border-radius: 0;
  }

  #stereogranimator {
    width: $canvaswidth;
  }

  .instructions {
    top: 410px;
  }

  .showInstructions {
    top: 400px;
  }

  .canvasHolder {
    // float: none;
  }

  .sideshow {
    // float: none;
    border: none;
    width: 100%;
    height: inherit;
  }

  #toggler {
    top: auto;
    bottom: -$toggleheight*.2;
    left: 200px;
    background-image: none;
    background-color: rgba(34, 34, 34, 0.75);
    border: none;
    height: $toggleheight;

    &.GIFActive {
      // background-image: none;
      background-color: rgba(255, 255, 255, 0.75);
      #toggleLinks .toggleAna {
        background-color: rgba(34, 34, 34, 0.75);
      }
    }

    &.anaglyphActive {
      // background-image: none;
      #toggleLinks .toggleAna {
        background-color: white;
      }
    }

    #toggleLinks {
      @include clearfix;
      .dim {
        display: block;
        height: $toggleheight*.5;
        line-height: normal;
      }
    }

    #toggleLinks, #GIFExtraLinks a {
      font-size: 15px;

      #toggleGIF, #toggleAna {
        height: $toggleheight*.5-$togglemargin;
        margin-top: $togglemargin;
        line-height: normal;
      }

      .toggleGIF, .toggleAna {
        height: auto;
        margin: 0;
      }
    }

    #GIFExtraLinks {
      height: $toggleheight*.5;
      margin: 0;
      position: absolute;
      right: 30px;
      bottom: $toggleheight*.2;
    }

    #GIFExtraLinks div {
      padding-left: 40px;
      padding: 0;
      height: $toggleheight*.5;
      line-height: normal;
    }
  }

  .nextStep {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 5px;
    width: 220px;
    height: 100px;
    overflow: hidden;

    .generator {
      padding: $bigfont*.3 $bigfont*.4;
      margin: 0;
    }
  }

  #btnNext {
    display: block;
    position: absolute;
    width: 90px;
    height: 130px;
    bottom: -60px;
    right: 10px;
    border-radius: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0;
    line-height: 1em;
    padding-right: 10px;
    font-size: 24px;
    border: 5px solid black;
  }


  #preview {
    width: inherit;
    height: inherit;
  }

  #previewContainer {
    height: 400px;
    overflow: hidden;
    border-bottom: none;
  }

  #previewAnaglyph, #previewGIF {
    display: none;
  }

  &.detail {
    h2, p {
      text-align: center;
      margin-bottom: 0;
    }

    .grid_5 {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .create {
      width: auto;
      margin: 0 auto;
      text-align: center;
    }
  }
}