@import "base";

body {
  background: $backcolor $bodyimage repeat-x;
  color: $maincolor;
  font-family: $bodyfont;
  font-size: $fontsizepx;
  line-height: $baselineheightem;
}

#mainContent {
  h1, h2, h3, p, li {
    padding: 0 5px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .sideNav {
    list-style-type: none;
  }
  .error {
    padding-top: 30px;
  }
}

h3 {
  font-size: 16px;
  line-height: $lineheightem;
  margin-top: 20px;
  margin-bottom: 1em;
}

p, blockquote {
  font-size: 1em;
  margin: 0 0 $lineheightem 0;
}

p.caption {
  line-height: $halflineheightem;
}

p.dropcap:first-letter {
  float: left;
  font-size: 4em;
  line-height: .8em;
  margin-right: 3px;
  padding: 2px;
}

blockquote {
  font-style: italic;
}

em {
  color: $emgray;
}

ul {
  list-style-type: none;
}

a, a:link, a:visited {
  color: $linkcolor;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.dim {
  color: $nyplgray;
}

.centered {
  text-align: center;
}

.big {
  font-size: 36px;
  line-height: 36px;
}

.pagination a, .genericButtonLink, .genericButtonLink:link, .genericButtonLink:visited {
  background-color: $linkcolor;
  padding: 10px;
  color: $maincolor;
  text-decoration: none;
  &:hover {
    background-color: $maincolor;
    color: $backcolor;
  }
  &.big {
    font-size: 20px;
  }
}

.pagination span {
  margin: 0 5px;
}

.pagination .first, .pagination .last {
  display: none;
}

.shTwitter, .shFacebook, .shTumblr, .shPlus, .shReddit {
  display: inline-block;
  text-indent: -9999px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: $sprites no-repeat;
}
.shTwitter {
  background-position: -38px -278px;
}
.shFacebook {
  background-position: -55px -278px;
}
.shTumblr {
  background-position: -72px -278px;
}
.shPlus {
  background-position: -89px -278px;
}
.shReddit {
  background-position: -106px -278px;
}

#nypl_bar {
  font-family: $nyplfont;
  position: relative;
  height: 30px;
  background: $sprites -905px 0 no-repeat $nyplred;
  color: $maincolor;
  font-size: $fontsizepx;
  margin: 0;
  padding: 0 0 0 60px;
  div {
    padding-top: 6px;
  }
  form {
    display: inline;
  }
  a, a:link, a:visited {
    color: $maincolor;
  }
}

#page {
  .replace {
    /* image-replaced texts */
    margin-left: -10000px;
  }
}

#header {
  position: relative;
  height: 99px;
  margin: 0 10px;
  border-top: $basicborder;
  border-bottom: $basicborder;
  h1 {
    position: absolute;
    left: 6px;
    top: 0;
    margin: 0;
    padding: 0;
    width: 360px;
    height: 100px;
    background: $sprites -100px 0 no-repeat;
    a {
      display: block;
      width: 360px;
      height: 50px;
    }
  }
  ul {
    position: absolute;
    margin: 0;
    top: 70px;
    left: 240px;
    width: 460px;
    li {
      float: left;
      width: 138px!important;
      height: 28px;
      background-color: $maincolor;
      color: $backcolor;
      text-align: center;
      font-size: 16px;
      border: $basicborder;
      a, a:link, a:visited {
        display: block;
        margin-top: 3px;
        color: $backcolor;
        text-decoration: none;
      }
    }
    li:hover {
      background-color: $backcolor;
      a {color: $maincolor;}
    }
    li.active {
        background-color: $linkcolor;
        a {color: $maincolor;}
        &:hover {
          a {color: $backcolor;}
        }
    }
  }
}

#mainContent {
  background: $backimage repeat-x;/*asset-url('12_col.gif', image);*/
  .showGrid {
    background: $gridimage;
  }
  .thumb {
    position: relative;
    float: left;
    width: 150px;
    height: 155px;
    margin: 0 6px 15px 4px;
    background: $sprites -308px -103px no-repeat;
    .kill {
      position: absolute;
      display: block;
      top: 4px;
      left: 10px;
      z-index: 10;
    }
    .pad {
      padding: 5px;
      position: relative;
      .over {
        position: absolute;
        display: block;
        background: $sprites -459px -103px no-repeat;
        width: 140px;
        height: 140px;
        text-align: center;
        top: 5px;
        left: 5px;
        cursor: pointer;
        color: $backcolor;
        line-height: 140px;
        opacity: 0;
      }
      &:hover {
        .over {
          transition: all 0.4s ease;
          -moz-transition: all 0.4s ease; /* Firefox 4 */
          -webkit-transition: all 0.4s ease; /* Safari and Chrome */
          -o-transition: all 0.4s ease; /* Opera */
          opacity: 1;
        }
      }
    }
  }
  .createTop {
    #nav p {
      font-size: 24px;
      font-weight: normal;
      margin: 6px 0 9px 0;
    }
  }
  h1 {
    padding: 0;
    background: $sprites no-repeat;
  }
  h1.create {
    width: 126px;
    height: 31px;
    margin: 29px 10px 9px 10px;
    background-position: -255px -351px;
  }
  h1.gallery {
    width: 127px;
    height: 31px;
    margin: 29px 10px 15px 10px;
    background-position: -498px -351px;
  }
  h1.welcome {
    width: 207px;
    height: 31px;
    margin: 0;
    margin-top: 29px;
    margin-bottom: 20px;
    background-position: -38px -351px;
  }
  h1.latest {
    width: 100px;
    height: 31px;
    margin-top: 29px;
    margin-bottom: 20px;
    background-position: -391px -351px;
  }
  h1.about {
    width: 351px;
    height: 31px;
    margin: 29px 10px 15px 10px;
    padding: 0;
    background-position: -37px -317px;
  }
  .meta {
    .create {
      margin: 30px 0;
    }
    .emailShare {
      display: none;
    }
    .embedCode {
      width: 380px;
      height: 90px;
      font: 16px $prefont;
      color: $nyplgray;
    }
  }
  .metadata {
    margin-top: 0;
  }
  .stats {
    margin-top: 30px;
  }
  .sideNav {
    p {
      &.help {
        font-style: italic;
        margin-top: $baselineheightem;
        line-height: $halflineheightem;
      }
    }
  }
}

#home {
  #explainer {
    position: relative;
    .startCreating {
      position: absolute;
      top: 432px;
      left: 120px;
      width: 221px;
      height: 32px;
      background: $sprites -461px 8px no-repeat;
      margin: 0 auto 20px auto;
    }
    .mainParagraph {
      position: absolute;
      top: 30px;
      left: 0;
      width: 450px;
      font-size: 18px;
      line-height: $lineheightem;
      margin-top: 0;
    }
    .stereo, .diagram, .samples {
      display: block;
      float: left;
    }
    .stereo {
      width: 460px;
      margin-top: 100px;
    }
    .diagram {
      width: 260px;
      margin-top: 70px;
    }
    .samples {
      width: 220px;
      .GIF {
        margin-bottom: 50px;
      }
    }
  }
  .latestImages {
    float: left;
    width: 320px;
    .more {
      margin-top: 20px;
    }
  }
  .quote {
    margin-top: 30px;
    margin-bottom:30px;
    font-style: italic;
  }
}

#stereoList {
  padding: 20px 0;
  .stereograph {
    position: relative;
    margin-bottom: 30px;
    .over {
      position: absolute;
      display: block;
      background: $choosebackground;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      color: $maincolor;
      line-height: 150px;
      opacity: 0;
    }
    &:hover {
      .over {
        transition: all 0.4s ease;
        -moz-transition: all 0.4s ease; /* Firefox 4 */
        -webkit-transition: all 0.4s ease; /* Safari and Chrome */
        -o-transition: all 0.4s ease; /* Opera */
        opacity: 1;
      }
    }
  }
}

#stereogranimator {
  position: relative;
  width: 1200px;
  margin: 0 auto 30px auto;
  border-top: $basicborder;
  .canvasHolder, .sideshow {
    height: $stereoheight;
    float: left;
    border-bottom: $basicborder;
  }
  .canvasHolder {
    width: $canvaswidth;
  }
  .sideshow {
    position: relative;
    width: $previewwidth;
    border-left: $basicborder;
    #preview {
      width: $previewwidth;
      height: $previewheight;
      margin-top: 10px;
      #previewAnaglyph {
        text-align: center;
      }
      #previewGIF {
        margin: 0 auto;
      }
      #previewExplain {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
    #process {
     display: none;
    }
  }
  #toggler {
    position: absolute;
    width: 400px;
    height: 50px;
    top: -51px;
    left: 0;
    border-bottom: $basicborder;
    .previewTitle {
      text-align: center;
    }
    #toggleLinks {
      .toggleAna, #toggleGIF {
        display: block;
        float: left;
        width: 200px;
        height: 25px;
        text-align: center;
      }
      .toggleAna {
        height: 50px;
        #toggleAna {
          display: block;
        }
        .dim {
          color: $backcolor;
        }
      }
      .active {
        color: $backcolor;
        text-decoration: none;
      }
    }
    #GIFExtraLinks {
      height: 25px;
      margin-left: 200px;
      div {
        padding-left: 30px;
      }
      a {
        margin-right: 6px;
      }
      a.active {
        color: $backcolor;
        text-decoration: none;
      }
    }
    &.anaglyphActive {
      background: $sprites 0 -390px;
    }
    &.GIFActive {
      background: $sprites -401px -390px;
    }
  }
  .nextStep {
    position: absolute;
    top: 200px;
    right: 0;
    .generator {
      margin-top: -5px;
      padding: 6px 10px;
      background-color: $maincolor;
      color: $backcolor;
    }
  }
}

#yescanvas {
  display: none;
  position: relative;
}

#nocanvas {
  display: none;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  border-bottom: $basicborder;
  .message {
    margin: 20px;
    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }
  .buttons {
    margin: 20px;
    a {
      margin: 0 10px;
    }
  }
}

#mainContent {
  .instructions {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1200px;
    height: 540px;
    background: asset-url('instructions.png', image) no-repeat;
  }
  .showInstructions, .showInstructions:link {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
    display: block;
    display: none;
    width: 22px;
    height: 22px;
    background: $sprites -917px -415px no-repeat;
    &:hover {
      background-position: -917px -390px;
    }
  }
  #nocanvas {
    .instructions {
      top: 110px;
    }
    .showInstructions {
      top: 98px;
    }
  }
  .detail {
    .stats {
      margin-top: 10px;
    }
  }
}

#footer {
  background: $footcolor;
  padding-top: 30px;
  margin-top: 100px;
  padding-bottom: 100px;
  a, a:link, a:visited {
    color: $maincolor;
  }
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
